<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="table(students, groupId)">
    <table th:fragment="table(students, groupId)">
        <thead>
        <tr>
            <th style="text-align: left;">Дата принятия</th>
            <th style="text-align: left;">ФИО студента</th>
            <th style="text-align: left;">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${#temporals.format(s.admissionDate, 'dd.MM.yyyy')}"></td>

            <td th:text="${s.fullName}"></td>

            <td class="actions">
                <a th:onclick="'deleteStudent(' + ${s.id} + ')'">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
