<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="table(students, groupId)">
    <table>
        <thead>
        <tr>
            <th>ФИО студента</th>
            <th>Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${#lists.isEmpty(students)}">
            <td colspan="2">Пока нет студентов</td>
        </tr>

        <tr th:each="s : ${students}">
            <td th:text="${s.fullName}">ФИО</td>
            <td class="actions">
                <a href="javascript:void(0)"
                   th:attr="onclick=|deleteStudent(${s.id})|">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
